@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900');

body {
    background-color:cadetblue;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
.us-flag {
    border-radius: 50%;
    height: 20px;
    padding 15px;
}
.logo {
    height: 26px;
    padding: 15px 8px;
}
.navbar-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: transparent;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    vertical-align:middle;
}
.header-container {
    background-image: linear-gradient(#fdfdfd, #eaeaea);
    display: flex;
    height: 58px;
    font-weight:400;
    justify-content: space-between;
    align-items: center;
    color: #444
}
.banner {
  font-size: 14px;
}
.left-header {
  display:flex;
  justify-content: space-between;
  align-items:center;
  font-size: 12px;
  padding: 0 0 0 32px;
}
.left-header > div {
  padding: 15px;
}
.right-header {
  display:flex;
  justify-content: space-between;
  align-items:center;
  font-size: 12px;
  padding: 0 32px 0 0;
}
.right-header > * {
  padding: 12px;
}


.center-navbar-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.searchbox {
    width: 120px;
}

li {
    list-style: none;
}

a:link
{
    color: #000;
    text-decoration: none;
}
a:visited
{
    color: #000;
    }
.center-navbar-container a:link {
  color: #fff;
  text-decoration: none;
  -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;
  padding: 15px 15px;
}


.center-navbar-container a:visited {
    color: #fff
}

.center-navbar-container a:hover {
    border-bottom: thick solid #cc0001;
    color: #cc0001;
}

.navbar-container:hover  a {
    background-color: white;
    color: black
}

a:hover
{
    color: #cc0001
}
a:active
{
    color: #cc0001
}

.center-banner {
  color: white;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  text-align: center;
  font-size: 60px;
}